{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="grid">
    {% for p in products %}
      {% if p.is_published %}
        <div class="card">
          <img src="{% static 'core/images/' %}{{ p.image }}" alt="{{ p.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ p.title }}</h5>
            {% autoescape off %}
              <p class="card-text">{{ p.content|linebreaks|truncatewords:10 }}</p>
            {% endautoescape %}
            <a href="{% url 'product_detail' p.id %}" class="btn">Подробнее</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
