{% extends 'base.html' %}
{% load static %}
{% load products_tags %}

{% block content %}
{% show_all_tags %}
<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'core/images/banner.jpg' %}');">
  <div class="banner-content">
    <h1>Лавка редкостей</h1>
    <p>Магазин уникальных ручных изделий и винтажных товаров. Подарки, украшения и предметы искусства, которые привнесут атмосферу старины и уюта в ваш дом.</p>
  </div>
</div>

<div class="container">
  <div class="grid">
    {% for p in products %}
      {% if p.is_published %}
        <div class="card">
          <div class="image-container">
            <img src="{{ p.image.url }}" alt="{{ p.title }}">
            <form method="post" action="{% url 'add_to_favorites' p.slug %}">
              {% csrf_token %}
              {% if user.is_authenticated and perms.products.can_mark_featured %}
                {% if user in p.favorites.all %}
                  <button type="submit" class="favorite-btn" title="Удалить из избранного"
                          formaction="{% url 'remove_from_favorites' p.slug %}">❤️</button>
                {% else %}
                  <button type="submit" class="favorite-btn" title="Добавить в избранное">🤍</button>
                {% endif %}
              {% endif %}
            </form>
          </div>
          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title">{{ p.title }}</h5>
              <p class="product-price">{{ p.price }} ₽</p>
              <div class="card-text">
                {% autoescape off %}
                {{ p.content|linebreaks|truncatewords:10 }}
                {% endautoescape %}
              </div>
            </div>
            <a href="{% url 'product_detail' p.slug %}" class="btn">Подробнее</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

		{% if page_obj.has_next %}
		<li class="page-num">
			<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}

    </ul>
</nav>
{% endif %}
{% endblock %}