{% extends 'base.html' %} 
  
{% block content %} 
    <h1 class="left-indent">Восстановление пароля</h1> 
  
    <form method="post" class="left-indent"> 
        {% csrf_token %} 
        {% for f in form %} 
            <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p> 
            <div class="form-error">{{ f.errors }}</div> 
        {% endfor %} 
        
        <p ><button type="submit" class="btn">Сбросить по Email</button></p> 
    </form> 
  
{% endblock %} 