{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-container">
        <div class="profile-photo">
            {% if user.photo %}
                <img src="{{ user.photo.url }}">
            {% else %}
                <img src="{{ default_image }}">
            {% endif %}
        </div>
        <div class="profile-fields">
            <h1 >Профиль</h1>
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p>
                    <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
                    {{ f }}
                </p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <hr>
            <p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
            <p><button type="submit" class="btn">Сохранить</button></p>
        </div>
    </div>
</form>
{% endblock %}
