{% extends 'base.html' %}
{% block content %}
    {% if request.user != seller %}
        <div class="profile-container">
                <div class="profile-photo">
                    <img src="{{ seller.photo.url }}" alt="Фото продавца">
                </div>
                <div class="profile-fields">
                    <h1>{{ seller.username }}</h1>
                    <p>Имя: {{ seller.first_name }}</p>
                    <p>Фамилия: {{ seller.last_name }}</p>
                    <p>Контактный номер: {{ seller.phone }}</p>
                </div>
        </div>
    {% endif %}
{% endblock %}
