 html,
 body {
 	font-family: 'Times New Roman';
 	margin: 0;
 	padding: 0;
 	height: 100%;
 	width: 100%;
 	color: #6D4C41;
 }
 a {
 	color: #6A8CA3;
 	text-decoration: none;
 }

 a:hover {
 	color: #A66A4C;
 	text-decoration: underline;
 }

 img {
 	max-width: 600px;
 	height: auto;
 }

 img.img-article-left {
 	max-width: 300px;
 	height: auto;
 	float: left;
 	padding: 0 10px 10px 0;
 }

 img.img-article-left.thumb {
 	max-width: 150px;
 	height: auto;
 }

 p.link-read-post {
 	text-align: right;
 }

 p.link-read-post a {
 	padding: 10px;
 	min-width: 100px;
 	background: #A66A4C;
 	color: #fff;
 	text-decoration: none;
 }

 /* div.article-panel {
 	background: #F5E3C3;
 	padding: 5px 10px 5px 10px;
 	box-sizing: border-box;
 	overflow: hidden;
 	color: #6D4C41;
 }

 div.article-panel p.first {
 	margin: 0;
 	float: left;
 }

 div.article-panel p.last {
 	margin: 0;
 	float: right;
 } */

 ul.list-articles {
 	list-style: none;
 	font-family: 'Arial';
 	margin: 0;
 	padding: 0;
 	color: #3a3a3a;
 }

 ul.list-articles li {
 	font-family: 'Arial';
 	border-bottom: 1px solid #ccc;
 }

 .table-page {
 	width: 100%;
 	height: 100%;
 	vertical-align: top;
 }

 .table-page tr {
 	height: 100%;
 }

 .clear {
 	clear: both;
 }

 .header {
	background: linear-gradient(to right, #194b02, #6D4C41);
	height: 80px; /* Increased for better visibility */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
  }

 .search-form {
 	margin-left: 20px;
 }

  
  /* Optional Call-to-action button */
  .header .cta-button {
	background: #A66A4C;
	padding: 10px 20px;
	font-size: 18px;
	font-family: 'Times New Roman';
	color: white;
	border-radius: 5px;
	text-decoration: none;	
	transition: background-color 0.3s ease;
  }
  
  .header .cta-button:hover {
	background-color: #6D4C41;
  }

 .logo {
	background: url("/static/core/images/logo.png") no-repeat center center;
	background-size: contain;
	width: 80px;
	height: 70px;
  }

  ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	display: flex;
	align-items: center;
  }

  ul.mainmenu li {
	margin: 0 20px;
	position: relative;
  }

 ul.mainmenu li.logo {
 	margin: 0;
 }

 ul.mainmenu li.last {
 	float: right;
 }

 ul.mainmenu li a {
	color: #ddc8a5;
	text-decoration: none;
	font-size: 24px;
	padding: 10px 0;
	transition: color 0.3s ease-in-out;
  }

  ul.mainmenu li a:hover {
	color: #6D4C41;
  }

 .panelitems {
 	text-align: center;
 }

 ul.langitem {
 	list-style: none;
 	display: inline-block;
 	margin: 30px;
 	padding: 0;
 	max-width: 300px
 }

 ul.langitem li {
 	margin: 10px 0 0 0;
 	width: 100%;
 }

 ul.langitem li.image {
 	margin: 0;
 	text-align: center;
 	width: 100%;
 	height: 250px;
 	overflow: hidden;
 }

 ul.langitem li.descr {
 	color: #777;
 	height: 170px;
 	overflow: hidden;
 }

 ul.langitem li a {
 	color: #A66A4C;
 	text-decoration: none;
 	font-size: 20px;
 }

 ul.langitem li a:hover {
 	color: #FDA83D;
 }

 div.button {
 	background: #A66A4C;
 	max-width: 200px;
 	margin: 0 auto;
 	padding: 5px 20px 5px 20px;
 	border-radius: 10px;
 	font-size: 20px;
 }

 .table-content {
 	width: 100%;
 	min-height: 100%;
 	height: 100%;
 }

 ul.tags-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 8px;
  }

  ul.tags-list li a {
	display: inline-block;
	padding: 4px 10px;
	background-color: #194b02;
	color: #F5E3C3;
	border-radius: 8px;
	font-size: 16px;
	text-decoration: none;
	transition: background 0.3s;
  }
  
  ul.tags-list li a:hover {
	background-color: #eee7d8;
	color: #6D4C41;
  }
 /* ul.tags-list li {
 	margin: 20px 20px 0px 20px; 
 	padding: 0 0 10px;
 	display: inline-block;
 }

 ul.tags-list li a {
 	padding: 5px;
 	font-size: 16px;
	 color: #6D4C41;
 	border: 1px solid #6D4C41;
 } */

 .tags-label {
    font-weight: bold;
    font-size: 16px;
    color: #F5E3C3;
}

 .tags-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	padding: 10px 20px 10px 20px;
	background-color: #6D4C41;
  }

 .content {
 	font-family: 'Arial';
 	padding: 40px 20px 20px 40px;
 	width: 100%;
 	box-sizing: border-box;
 }

 ul.breadcrumbs {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	font-size: 20px;
 	font-family: Sans-serif, Arial, Tahoma;
 }

 ul.breadcrumbs li {
 	display: inline-block;
 }

 ul.breadcrumbs li a {
 	color: #6A8CA3;
 	text-decoration: none;
 }

 ul.breadcrumbs li a:hover {
 	color: #A66A4C;
 }

 ul.breadcrumbs li:after {
 	padding: 0 10px 0 10px;
 	content: "\2192";
 }

 ul.breadcrumbs li.last:after {
 	content: "";
 }

 ul.control {
 	margin: 0;
 	padding: 60px 0 0 0;
 	list-style: none;
 	font-family: Sans-serif, Arial, Tahoma;
 	font-size: 18px;
 	width: 100%;
 }

 ul.control li {
 	float: left;
 	padding: 0 0 0 10px;
 }

 ul.control li.first:before {
 	content: "\2190";
 	padding: 0 10px 0 0;
 }

 ul.control li.last {
 	float: right;
 	padding: 0 40px 0 0;
 }

 ul.control li.last:after {
 	content: "\2192";
 	padding: 0 0 0 10px;
 }

 ul.control li a {
 	color: #5aacff;
 	text-decoration: none;
 }

 ul.control li a:hover {
 	color: #CC0000;
 }

 ul.content-table {
 	margin: 0;
 	padding: 60px 0 0 30px;
 	list-style: none;
 	font-family: Sans-serif, Arial, Tahoma;
 	font-size: 28px;
 }

 ul.content-table li {
 	margin: 0 0 40px 0;
 }

 ul.content-table li a {
 	color: #BB5715;
 	text-decoration: none;
 }

 ul.content-table li a:hover {
 	color: #F0711C;
 }

 .content-text {
 	/* margin: 20px 0 0 20px; */
 	color: #6D4C41;
 	font-size: 20px;
 	font-family: Yandex Sans Display Light;
 }

 .content-text h1 {
 	font-size: 32px;
 	color: #A66A4C;
 }

 ul.lang-list {
 	list-style: none;
 	margin: 0;
 	padding: 14px 0 0 0;
 	background: #3F4137;
 	width: 100%;
 	height: 50px;
 	border-top: 1px solid #959A82;
 	box-sizing: border-box;
 	font-size: 18px;
 	font-family: Sans-serif, Arial, Tahoma;
 }

 ul.lang-list li {
 	display: inline-block;
 	margin-left: 40px;
 }

 ul.lang-list li.selected {
 	color: #fdc073;
 	border-bottom: 1px solid #fdc073;
 }

 ul.lang-list li a {
 	color: #eee;
 	text-decoration: none;
 }

 ul.lang-list li a:hover {
 	color: #fdc073;
 }

 .topic-subject .topic-line {
 	border-bottom: 1px solid #CC0000;
 	margin-top: -16px;
 }

 .topic-subject .topic-text {
 	display: inline-block;
 	font-size: 28px;
 	color: #777;
 	padding: 0 10px 0 10px;
 	margin-left: 30px;
 	background: #fff;
 	font-family: Sans-serif, Arial, Tahoma;
 }

 .list-topic {
 	margin: 40px 0 60px 0;
 	font-family: Sans-serif, Arial, Tahoma;
 }

 .list-topic p {
 	margin: 0;
 	font-size: 28px;
 }

 .list-topic ol {
 	columns: 2;
 	-webkit-columns: 2;
 	column-gap: 40px;
 }

 .list-topic ol li {
 	display: list-item;
 	margin: 10px 10px 0 0px;
 	padding: 0 0 0 10px;
 }

 .list-topic ol li a {
 	color: #5aacff;
 	text-decoration: none;
 }

 .list-topic ol li a:hover {
 	color: #CC0000;
 }

 .highlight {
 	max-width: 350px;
 	padding: 0 10px 0 10px;
 	margin: 0;
 	overflow: auto;
 	overflow-y: hidden;
 	background: #f0f0f0;
 }

 .highlight p {
 	margin: 0;
 }

 .highlight .block {
 	width: 100%;
 	margin: 0;
 }

 .highlight .block p {
 	margin: 0;
 }
 
 #footer {
 	box-sizing: border-box;
 	background: #194b02;
 	padding: 5px;
 	color: #FDF6EC;
 	font-size: 14px;
 	font-family: Verdana, Geneva, Arial, Helvetica;
 	text-align: left;
 	overflow: hidden;
 }

 #footer a {
 	text-decoration: underline;
 	color: #A7BE92;
 }

 .form-input {
 	width: 300px;
 	font-size: 16px;
 }

 .form-label {
 	display: inline-block;
 	min-width: 150px;
 	vertical-align: top;
 }

 .form-error ul {
 	list-style: none;
 	padding: 0;
 	color: #CC0000;
 }

 .form-button {
 	min-width: 200px;
 	font-size: 16px;
 }

 .container {
 	max-width: 1200px;
 	margin: 0 auto;
 	padding: 20px;
 }

 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
  }

 .card {
 	background: white;
 	border-radius: 10px;
 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 	height: 100%;
	display: flex;
	flex-direction: column;
 }

 .card:hover {
 	transform: scale(1.03);
 }

 .card img {
 	width: 100%;
 	height: 200px;
 	object-fit: cover;	
 }

 .card-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 15px;
 }

 .card-content {
	flex-grow: 1;
  }

 .card-title {
 	font-size: 20px;
 	margin: 0 0 10px;
 }

 .card-text {
 	font-size: 16px;
 	color: #555;
 }

 .btn {
 	display: block;
 	text-align: center;
 	padding: 8px;
 	background: #F5E3C3;
 	color: #194b02;
 	text-decoration: none;
 	border-radius: 5px;
	transition: background-color 0.3s ease;
	font-family: 'Times New Roman';
	font-size: 16px;
 }

 .btn:hover {
 	background: #A66A4C;
 	color: white;
 }

 .product-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    min-height: 100%;
    box-sizing: border-box;
}

.product-detail-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
	gap: 30px;
}

.product-image {
    max-width: 350px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.product-info {
    flex-grow: 1;
    width: 100%;
}

.product-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #222;
}

.product-description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}

.banner{
	/* background-color: #f4f4f4;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	margin-bottom: 30px;
	box-sizing: border-box; */

	/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/core/images/banner.jpg"); */
  	background-size: cover;
  	background-position: center;
	width: 100%;
  	height: 300px;
  	color: white; 
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.banner h1 {
font-size: 36px;
margin-bottom: 10px;
text-align: center;
color: #ffffff;
}

.banner p {
font-size: 20px;
color: #ffffff;
text-align: center;
max-width: 800px;
margin: 0 auto;
}

.categories {
background: #F5E3C3;
padding: 15px 0;
margin-top: 0;
}

#categories-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#categories-list li {
    margin: 0 20px;
    font-size: 20px;
}

#categories-list li a {
    text-decoration: none;
    color: #6D4C41;
	transition: background-color 0.3s ease;
}

#categories-list li a:hover {
    color: #A66A4C;
}

#categories-list .selected {
    font-weight: bold;
    color: #A66A4C;
}

.product-price {
    font-size: 20px; 
	font-family: 'Georgia', serif;
    font-weight: bold;
    color: #8e000c;
	text-transform: uppercase;	
}