{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">

<div class="product-detail">
    <div class="product-detail-wrapper">
        {% if product.image and product.image.url %}
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image">
        {% endif %}

        <div class="product-info">
            <div class="product-title-container">
                <h1 class="product-title">{{ product.title }}</h1>
                {% if user.is_authenticated and perms.products.can_mark_featured_product %}
                <form method="post" action="{% url 'add_to_favorites' product.slug %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if user in product.favorites.all %}
                            <button type="submit" class="favorite-btn-detail" title="Удалить из избранного"
                                    formaction="{% url 'remove_from_favorites' product.slug %}">❤️</button>
                        {% else %}
                            <button type="submit" class="favorite-btn-detail" title="Добавить в избранное">🤍</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </form>
            </div>

            {% block breadcrumbs %} 
                {% with product.tags.all as tags %} 
                    {% if tags %} 
                        <ul class="tags-list"> 
                            {% for t in tags %} 
                            <li><a 
                        href="{{t.get_absolute_url}}">{{t.tag}}</a></li> 
                            {% endfor %} 
                        </ul>
                    {% endif %} 
                {% endwith %} 
            {% endblock %}
            <div class="product-description">
                {{ product.content|linebreaks }}
            </div>

            {% if product.seller %}
                {% if request.user != product.seller %}
                    <p class="product-seller">
                        Продавец:
                        <a href="{% url 'users:public_profile' product.seller.pk %}">
                            {{ product.seller.username }}
                        </a>
                    </p>
                {% endif %}
            {% endif %}

            {% if product.price %}
                <p class="product-price">Цена: {{ product.price }} ₽</p>
            {% endif %}

            {% if perms.products.can_edit_own_products %}
                <a href="{% url 'edit_product' product.slug %}">Редактировать</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
