{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Результаты поиска</h3>
    {% if products %}
    <div class="grid">
        {% for p in products %}
        {% if p.is_published %}
        <div class="card">
            <img src="{{ p.image.url }}" alt="{{ p.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <p class="product-price">{{ p.price }} ₽</p>
                {% autoescape off %}
                <p class="card-text">{{ p.content|linebreaks|truncatewords:10 }}</p>
                {% endautoescape %}
                <a href="{% url 'product_detail' p.slug %}" class="btn">Подробнее</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p>Ничего не найдено.</p>
    {% endif %}
</div>
{% endblock %}